<!DOCTYPE html>
<html>
 <head>
  <title>LoadedFiles </title>
  <meta name="viewport" content="initial-scale=1, width=device-width">
  <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
        function cb(selection) {
            var graphDiv = document.getElementById('chart')
            $.getJSON({
                url: "/callback", data: { 'data': selection }, success: function (result) {
                    Plotly.downloadImage(graphDiv, {format: 'png', width: 800, height: 600, filename: 'newplot'});
                }
            });
        }
  </script>

 </head>

 <body>
  <h1>Customize Signals </h1>
  <h2>Choose your value:</h2>
  <input type="text" id="varControl" name="varControl" label=varControl onchange="cb(this.value)">
  <div id="chart" class="chart"></div>
  </body>

 <script>
    var graphs = {{graphJSON | safe}};
    Plotly.plot('chart',graphs,{});
 </script>

</html>